#contato {
  background-color: #3F0042;
}

.formulario-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-contato button {
  margin: 18px;
}

.campo-contato {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.5px solid white;
  border-radius: 10px;
  width: 40%;
  padding: 5px 15px 5px 15px;
  color: white;
  font-size: medium;
}

.campo-mensagem {
  height: 100px;
  text-align: start;
  resize: none;
}

.campo-contato::placeholder {
  color: white;
  font-weight: bolder;
  font-size: large;
}

.social-media {
  background-color: green;
}

.social-media a {
  margin: 18px;
  text-decoration: none;
  color: white;
  max-width: 30px;
  max-height: 30px;
}

.social-media img {
  max-width: 100%;
  max-height: 100%;
}