header {
    display: flex;
    justify-content: space-between;
    background-color: #3F0042;
    padding: 0vw 3vw 0vw 3vw;
}

.logo-photo {
    display: flex;
    align-items: center;
}

.logo-photo img {
    color: white;
}

.flex-content {
    display: flex;
    justify-content: space-between;
}

.list, .download-cv {
    margin: 20px 0px 20px 0px;
    align-items: center;
    list-style: square;
    color: #3A8C00;
}

.list-item {
    margin-right: 30px;
}

.color-white {
    color: white;
    text-decoration: none;
}

.download-cv{
    background-color: #3A8C00;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    color: white;
    box-shadow: 5px 5px black;
    font-size: large;
    transition: all 0.6s ease;
    transition: border 0s ease;
}

.download-cv:hover {
    cursor: pointer;
    background-color: #A1D28A;
    color: black;
}

.download-cv:active {
    background-color: #80a56e;
    border: 2px solid black;
}