* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: #3F0042;
  padding: 0vw 3vw;
}

img {
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

li::before {
  content: "\200B";
}